.Tester {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.favHeadLine {
  font-size: 14vh;
  color: crimson;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  padding-top: 5%;
  margin-bottom: 5%;
}

.FavoritesPageWrapper {
  background-image: url("../../images/backGround.jpg");
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  background-repeat: repeat;
}

.FavoritesPageWrapper::-webkit-scrollbar {
  display: none;
}

.favoritesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  overflow: hidden;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.Container {
  font-size: 5vh;
  margin-bottom: 5%;
  background-color: black;
  padding: 1%;
  border-radius: 25px;
}

.widerHeader {
  width: 122.5vw;
  margin-top: 15%;
  padding-bottom: 5%;
  position: relative;
  left: -6.5em;
  overflow: hidden;
  margin-top: 140%;
}

.urlTitle {
  font-size: 0.7em;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  min-height: 10vh;
  margin-bottom: 4%;
  margin-top: 2%;
  text-align: center;
}

.removeFavoriteTitle {
  margin-top: 3%;
  font-size: 1em;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.removeFavoriteTitle:hover {
  color: crimson;
  cursor: pointer;
}

.favoriteListItem {
  width: 25vw;
  overflow-y: hidden;
}

.seperator {
  width: 3vw;
  font-size: 2vw;
  background-color: blue;
}

li::marker {
  color: black;
}

.noFooter {
  width: 30vw;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  text-align: center;
  margin-bottom: 3%;
  border: 9px dotted white;
}
