* {
  font-family: "Crowd";
}
@font-face {
  font-family: "Crowd";
  src: local("Crowd"),
    url("../../components/fonts/Crowd.ttf") format("truetype");
}
.wrapper {
  padding-right: 0%;
  padding-left: 0%;
  margin-top: -1.99%;
  width: 100%;
  height: 1700px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/backGround.jpg");
  margin-left: auto;
  background-repeat: repeat;
  margin-right: auto;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  background-color: black;
  width: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 60%;
  height: 140vw;
  padding-bottom: 2%;
  background-image: url("../../images/App.jpg");
  border-radius: 9%;
  margin-top: 11%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9%;
  box-shadow: rgb(105, 97, 97);
}

.AppLogin {
  position: fixed;
  left: -5vw;
  top: 25vh;
  width: 35vw;
  height: 20vh;
  display: inline-block;
}

.heartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  gap: 4%;
  margin-top: 2%;
  margin-bottom: -2%;
}
.heart {
  font-size: 10vw;
  height: 0.6em;
  color: rgb(207, 25, 25);
  position: static;
  margin: 0%;
}

.heartCluster {
  height: 7vw;
  position: static;
  margin-bottom: 0%;
  margin-top: 30%;
}

.heart:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: rotate(360deg);
  transition: 1s;
}

.heartCluster:hover {
  color: white;
  cursor: grab;
  transform: rotate(360deg);
  transition: 1s;
}

.input {
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 4%;
  text-align: center;
  border: none;
  background-color: rgb(61, 18, 18);
  color: white;
  width: 50%;
  border-radius: 40px;
  transition: width 0.1s;
  transition: margin-left 0.1s;
  height: 6vw;
  place-content: inherit;
  font-size: 1.5vw;
  margin-left: 20.5%;
  margin-right: 0%;
}

.input:hover {
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 4%;
  text-align: center;
  border: none;
  background-color: rgb(49, 11, 11);
  color: white;
  margin-left: 9%;
  transition: all 0.2s ease-in-out;
  border-radius: 40px;
  width: 70%;
  place-content: inherit;
  font-size: 1.5vw;
  margin-right: 0%;
  box-shadow: 0 0 25px 0px rgb(238, 9, 55);
}
.click {
  margin-top: 2%;
  width: 9%;
  transition: width 0.4s linear;
  border-radius: 25px;
  height: 6vw;
  background-color: rgb(94, 85, 85);
  font-size: 3vw;
  text-align: center;
  align-items: center;
  color: rgb(134, 131, 131);
  margin-left: 2%;
  margin-right: 2%;
  border: none;
  color: white;
}
::placeholder {
  font-size: 4vh;
  color: white;
}

.click:hover {
  box-shadow: 0 0 25px 0 crimson;
}

.searchInterface {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 4%;
  margin-bottom: -1%;
  height: 12vh;
  width: 100%;
  text-align: center;
}

#player {
  border-radius: 9%;
  width: 100px;
}

.favorites-app {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9%;
  margin-bottom: 7%;
  width: 100%;
  max-height: 28vw;
}

h1 {
  color: rgb(70, 140, 141);
  font-size: 5vw;
  padding-left: 1.2%;
}

.recentlyViewed {
  margin-bottom: 6%;
  margin-top: 9%;
  font-size: 6vw;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: grey;
  padding-left: 3%;
  text-align: center;
}

.bottomH2 {
  margin-bottom: 12%;
  font-size: 5.01vw;
  background-color: black;
  height: fit-content;
  color: grey;
  padding-left: 2%;
}
.bottomH2:hover {
  cursor: pointer;
  background-color: black;
  color: rgb(88, 16, 16);
}
